
body {
  background-image: url(https://wallpaperaccess.com/full/1516567.jpg);
  color: #ffffff;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: #ffffff;
}

.container {
  padding: 40px;
  padding-right: 0;
}

.title {
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}


h5{
  padding: .075rem 1rem;
  font-size: 20px;
}
.card-detail{
  padding: .075rem 1rem;
  font-size: 16px;
}

.card-header-title{
  font-size: 22px;
}

.gallery .card {
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
  
}

p {
  font-size: 14px;
}

.detail__img {
  position: absolute;
  left: 0;
  top: 0;
  /* width: 100%; */
  height: 500px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 5px;
}

.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, #1f1f1f);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.detail__name {
  position: absolute;
  z-index: 5;
  top: 400px;
}

.detail__container {
  margin-top: 500px;
}

#task{
  margin-left: 20px;
  padding: 5px;
  margin-top: 5px;
}


.taskList{
  font-size: 20px;
  margin-top: 25px;
}

a:Link, a:visited{
  text-decoration:none;
  color:rgb(173, 162, 236);
}

a:hover, a:active {
  color: rgb(170, 149, 238);
}

.waterHeader{
  margin-top: 30px;
  font-size: 35px;
}

.button.is-success{
  background-color: #26613a;
}

.title.is-4{
  margin-top: 20px;
}
.list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-list{
  border: 5px solid rgba(16, 68, 16, 0.452);
  background-color:rgba(16, 68, 16, 0.481);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-left: 10px;
  width: 450px;
}

.about{
  margin-top: 15px;
  padding-bottom: 50px;
}
.about-description{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.about-title{
  font-size: 30px;
  font-weight: bold;
}